body {
  /* fonts are inherited, so that's why it's better to declarate fonts in body selector - it's more efficient, good practice also*/
  font-family: "Lato", sans-serif;
  font-weight: 400;
  //   font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* if animation is a bit of shaky then use this to fix it */
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;

    /* animation-iteration-count: 3; - 3x*/
    /* animation-delay: 3s; */

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    margin-bottom: 60px;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 17.4px;
    animation-name: moveInRight;
    animation-duration: 2s;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;

  //  to not occupy the whole width of the website:
  display: inline-block;

  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );

  // color of the text is now this liear gradient:
  -webkit-background-clip: text;
  color: transparent;

  letter-spacing: 2px;
  transition: all 0.2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.3);
  }

  //  to make this element centered we used utilities class -> 'u-center-text'. We can use it everyone in our project, the parent el need to have it in html and child elemend need to be inline-block
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
